
#product_details .single_pro_image img {
    border: 1px solid rgb(217, 217, 238);
}
#MainImg{
    border-radius: 15px;
}
.click_active {
    border: 2px solid blue !important;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.bg-Breadcrumb {
    background: #e3e1e1;
}
.breadcrumb-item {
    text-transform: uppercase;
}
#Product-detail .single_pro_image{
    max-width: fit-content;
}
.product-tag {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.bestseller-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    outline: 0;
    text-decoration: none;
    border: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    background: #F8E4D2;
    width: 100px;
    height: 26px;
    border-radius: 90px;
    color: #F2994A;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}.sold-tag {
    cursor: default;
    outline: 0;
    text-decoration: none;
    border: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    background: #2D9CDB26;
    width: 122px;
    margin-left: 10px;
    height: 26px;
    border-radius: 90px;
    color: #2D9CDB;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__details__text h1 {
    color: #ed0000;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
    text-transform: uppercase;
}
.rate-sku {
    display: flex;
}
.rate .bxs-star {
    color: #f4b301;
}
.rate span {
    color: #616161;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.00938em;
    padding-right: 20px;
}
.sku, .status {
    padding-left: 20px;
    border-left: 1px solid #ddd;
    color: #616161;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.00938em;
    margin-right: 20px;
}
.info-product-price {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 10px; 

}

.info-product-price .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.info-product-price .sale {
    font-size: 16px;
    color: red; 
    text-decoration: line-through; 
}
.product-options {
    margin-top: 3pt;
}

.option-group {
    margin-bottom: 20px;
}

.option-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.storage-options, .color-options {
    display: flex;
    gap: 10px;
}

.option-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
}
.option-btn .badgeClick{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #007bff;
    color: #eef6ff;
}
.badgeClick.check{
    text-align: center;
}
.option-btn.storage {
    border-color: blue;
    background-color: #eef6ff;
}

.option-btn img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

#quantity {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.action-buttons {
    display: flex;
    gap: 10px;
}
.action-buttons > .cart-btn >.i{
    font-size: 15px;
}

.cart-btn, .buy-btn {
    flex: 1;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cart-btn:hover, .buy-btn:hover {
    background-color: #0056b3;
}

.cart-btn i, .buy-btn i {
    margin-right: 5px;
}

.buy-btn {
    background-color: #28a745;
}

.buy-btn:hover {
    background-color: #218838;
}

.title_desc {
    font-size: 24px;
    color: #d32f2f;
    background-color: #fbe9e7;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.features-list {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

.review-section {
    margin-bottom: 30px;
}

.review-title {
    font-size: 20px;
    font-weight: bold;
    color: #212121;
    margin-bottom: 10px;
}

.review-subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #424242;
    margin-top: 20px;
    margin-bottom: 10px;
}

.p_details {
    color: #555;
    margin-bottom: 15px;
}

.see-more {
    text-align: center;
    margin-top: 20px;
}

.see-more-link {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 4px 3px 1px #e9e9e9;
}

.see-more-link:hover {
    background-color: #e0e0e0;
    color: #0056b3;
}
/* Reviews */

.reviews h3{
    color: #d32f2f;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reviewer-info {
    display: flex;
}

.reviewer-img {
    max-width: 100px;
    max-height: 100px;
    background-position: center;
    border: 1px solid blue;
    border-radius: 50%;
    margin-right: 15px;
}

.rating {
    font-size: 24px;
}

.add-review {
    margin-top: 40px;
}

.add-review form {
    display: flex;
    flex-direction: column;
}

.rating-input {
    display: flex;
}

.rating-input label {
    font-size: 24px;
}

textarea, input[type="text"], input[type="email"] {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitReview {
    background-color: #ff3366;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
