.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  width: 228px;
  margin: 0 0px; /* Khoảng cách bên trái và bên phải cho mỗi thẻ */
  transition: box-shadow 0.3s; /* Hiệu ứng chuyển đổi bóng đổ */
  display: inline-block; /* thêm lớp này để các thẻ sản phẩm hiển thị cạnh nhau */
  vertical-align: top;
  height: 402px;
}
.col-md-2 {
  padding: 10px; /* add some padding to create space between cards */
  margin: 20px; /* add some margin to create space between cards */
}
.badge-hot {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 0 0 10px 0;
  font-size: 0.8rem;
}
.badge-discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: #007bff;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 0.7rem;
}
.card-body {
  text-align: left;
  font-size: 0.8rem;
}
.card-title {
  font-size: 0.9rem;
  font-weight: bold;
}
.card-text {
  color: #6c757d;
  font-size: 0.7rem;
}
.price {
  color: #007bff;
  font-size: 0.8rem;
  font-weight: bold;
}
.old-price {
  text-decoration: line-through;
  color: #6c757d;
  font-size: 0.6rem;
}
.btn-buy {
  background-color: white;
  color: #007bff;
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}
.btn-buy:hover {
  background-color: #007bff;
  color: white;
}
.icon-btn {
  border: 1px solid #dee2e6;
  border-radius: 8px; /* Giảm kích thước viền nút icon */
  padding: 5px 10px; /* Giảm padding cho các nút icon hơn nữa */
  margin: 2px;
  color: #6c757d;
  font-size: 0.8rem; /* Giảm kích thước chữ cho các nút icon */
}
.icon-btn:hover {
  border: 1px solid #007bff;
  color: #007bff;
}

.card-img-top {
  max-width: 100%;
  height: auto;
  display: block;
}
.img-container {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 55px;
  width: 114px; /* fixed width */
  height: 149px; /* fixed height */
  align-items: center; /* center the container vertically */
}
.custom-text {
  font-size: 32px; /* Kích thước chữ 32px */
  font-weight: bold; /* Chữ đậm */
  margin: 10px; /* Loại bỏ margin nếu cần thiết */
}
