.click_active {
  border: 2px solid blue !important;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#Product-detail .single_pro_image {
  max-width: fit-content;
}
.product-tag {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.bestseller-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  outline: 0;
  text-decoration: none;
  border: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background: #f8e4d2;
  width: 100px;
  height: 26px;
  border-radius: 90px;
  color: #f2994a;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.sold-tag {
  cursor: default;
  outline: 0;
  text-decoration: none;
  border: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background: #2d9cdb26;
  width: 122px;
  margin-left: 10px;
  height: 26px;
  border-radius: 90px;
  color: #2d9cdb;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__details__text h1 {
  color: #ed0000;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
  text-transform: uppercase;
}
.rate-sku {
  display: flex;
}
.rate .bxs-star {
  color: #f4b301;
}
.rate span {
  color: #616161;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.00938em;
  padding-right: 20px;
}
.sku,
.status {
  padding-left: 20px;
  border-left: 1px solid #ddd;
  color: #616161;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.00938em;
  margin-right: 20px;
}
.info-product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.product-options {
  margin-top: 3pt;
}

#quantity {
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.action-buttons {
  display: flex;
  gap: 10px;
}
.action-buttons > .cart-btn > .i {
  font-size: 15px;
}

.cart-btn,
.buy-btn {
  flex: 1;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cart-btn:hover,
.buy-btn:hover {
  background-color: #0056b3;
}

.cart-btn i,
.buy-btn i {
  margin-right: 5px;
}

.buy-btn {
  background-color: #28a745;
}

.buy-btn:hover {
  background-color: #218838;
}
