/* styles.css */

.input-common {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  height: 40px;
  width: 520px;
}

.label-common {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button-common {
  outline: none;
  box-shadow: none;
}

.img-product {
  height: 65px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #6c757d; /* Border màu xám */
  padding: 10px 0;
}

.apply-code-button {
  height: 50px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  border: 1px solid #6c757d;
  border-radius: 5px;
}

.payment-button {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: 1px solid #6c757d;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
