.brand-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: wrap;
}

.category-buttons .btn {
  border-radius: 20px;
  padding: 10px 20px;
  flex: 1;
  transition: background-color 0.3s ease;
}

.category-buttons .btn-primary {
  background-color: #007bff;
  color: white;
}

.category-buttons .btn-secondary {
  background-color: #fff;
  color: #333;
}

.category-buttons .btn:hover {
  background-color: #007bff;
  color: white;
}

.category-name .btn:hover {
  background-color: #e0e0e0;
}

.pagi .pagination .page-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border-radius: 50%;
}

.pagi .pagination .page-link:hover {
  background-color: #f0f0f0;
}

.pagi .pagination .page-item.active .page-link {
  background-color: #016aff;
  color: white;
}

.pagi .pagination .page-item .page-link[aria-label="Previous"],
.pagi .pagination .page-item .page-link[aria-label="Next"] {
  border-radius: 5px;
  padding: 0 15px;
}

.pagi .pagination .page-link {
  transition: background-color 0.3s;
}

.pagi .pagination .page-item .page-link span {
  font-size: 1.2rem;
}

.increase:hover {
  color: #007bff;
}
.decrease:hover {
  color: #007bff;
}
.fa-active {
  color: #007bff;
}
.route {
  color: #616161;
}
.active_route {
  color: #ed0000;
  font-weight: 500;
}
.bg-box {
  background-color: #ffffff;
  border-radius: 10px;
}
