/* .form-container {
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  width: 20%;
}

.form-group input {
  width: 60%;
  padding: 0.5rem;
} */
.container {
  max-width: 800px;
  margin-top: 50px;
}
.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}
.card-body {
    background-color: #f8f9fa;
}
.form-check-label {
    margin-right: 20px;
}
.btn-cancel {
    color: black;
}
.btn-save {
    color: orange;
}
.details {
    display: none;
}
.details-btn {
    color: blue;
    cursor: pointer;
}